<!-- Agregar Contacto -->
  <div class="modal fade" id="agregarContactoModal" tabindex="-1" aria-labelledby="agregarContactoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white" id="agregarContactoModalLabel">Nuevo Contacto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-2">
            <span class="input-group-text">Nombre</span>
            <input type="text" aria-label="First name" [formControl]="nombreController" class="form-control" placeholder="Nombre">
          </div>
          <p class="text-white" style="font-size: 13px;">El nombre no puede estar vacio</p>
          <div class="input-group">
            <span class="input-group-text">Tel&eacute;fono</span>
            <input type="text" [formControl]="telefonoController" aria-label="First name" class="form-control" placeholder="Nº Telefono">
          </div>
          <p class="text-white" style="font-size: 13px;">El tel&eacute;fono tiene que tener 9 caracteres y empezar por 6 o 7</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="checkForm(true)" data-bs-dismiss="modal">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Eliminar contactos -->
  <div class="modal fade" id="eliminarContactosModal" tabindex="-1" aria-labelledby="eliminarContactosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white" id="eliminarContactosModalLabel">Vaciar Agenda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="fs-5 text-white">Estas seguro de eliminar todos los contactos de tu agenda?</p>
          <p class="text-white">Esta accion no se puede deshacer</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="removeAllContactos()"  class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Editar contacto -->
  <div class="modal fade" id="editarContactoModal" tabindex="-1" aria-labelledby="editarContactoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white" id="editarContactoModalLabel">Editar Contacto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-white">Edita el contacto seleccionado</p>
          <div class="input-group mb-2">
            <span class="input-group-text">Nombre</span>
            <input type="text" [formControl]="nombreController"  aria-label="First name" class="form-control" placeholder="Nombre">
          </div>
          <p class="text-white" style="font-size: 13px;">El nombre no puede estar vacio</p>
          <div class="input-group">
            <span class="input-group-text">Tel&eacute;fono</span>
            <input type="text" [formControl]="telefonoController" aria-label="First name" class="form-control" placeholder="Telefono">
          </div>
          <p class="text-white"  style="font-size: 13px;">El tel&eacute;fono tiene que tener 9 caracteres y empezar por 6 o 7</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="checkForm(false)" data-bs-dismiss="modal">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>